#mainHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(220, 220, 240);
    width: 100%;

    box-sizing: border-box;
    padding: 0 4rem 0 17rem;
}

#mainHeader p {
    font-size: 2.5rem;
    color: rgb(0, 0, 50);
    background-color: rgb(10, 80, 200);
    padding: 2rem 1.5rem 2rem 1.5rem;
    font-weight: 900;
    border-radius: 10px;
}

.links {
    display: flex;
    margin-left: max(50px, 20%);
}

.links a {
    padding: 1rem;
    background-color: rgb(255, 255, 255);

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(160, 160, 160);
}
